.fab-container {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 78, 107);
  box-shadow: 2px 0px 8px 1px rgba(0, 0, 0, 0.3);
}

.fab-icon-holder:hover {
  transform: rotate(45deg);
  transition: all 0.5s ease;
  box-shadow: 2px 0px 8px 1px rgba(0, 0, 0, 0.7);
}

.whats {
  background-color: #3cb362;
}

.mail {
  background-color: rgb(76, 94, 253);
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 25px;
  color: white;
}

.fab {
  width: 55px;
  height: 55px;
  background-color: #ea03ff;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 55px;
  right: 0;
  opacity: 0;

  transition: all 0.5s ease;
  transform: scale(0);
  transform-origin: bottom;
}

.fab:hover + .fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
